services:
  # Container do Banco de Dados
  travel_db:
    image: postgres:15-alpine
    container_name: travel_manager_db
    volumes:
      - /var/data/travel_db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=travel_db
      - POSTGRES_USER=travel_user
      - POSTGRES_PASSWORD=travel_pass
#    ports:
#      - "5432:5432"
    restart: always
    networks:
      - chmviola

  # Container da Aplicação (Backend + Frontend Django)
  travel_web:
    build: ./app
    container_name: travel_manager_web
    command: sh -c "python manage.py collectstatic --noinput && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    volumes:
#      - ./app:/usr/src/app
      - /var/data/media_data:/usr/src/app/media
      - /var/data/migrations:/usr/src/app/core/migrations

#    ports:
#      - "8080:8080"
    environment:
      - DEBUG=1
      - SECRET_KEY=changeme
      - DJANGO_ALLOWED_HOSTS=travel.chmviola.com.br localhost 127.0.0.1
      # ADICIONE A LINHA ABAIXO (inclua o https://)
      - CSRF_TRUSTED_ORIGINS=https://travel.chmviola.com.br
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=travel_db
      - SQL_USER=travel_user
      - SQL_PASSWORD=travel_pass
      - SQL_HOST=travel_db
      - SQL_PORT=5432
#      - WEATHER_API_KEY=8bf7c0827daf456bbdb01057253012
    depends_on:
      - travel_db
    restart: always
    networks:
      - chmviola

networks:
  chmviola:
    external: true

volumes:
  travel_db_data:
