services:
  # --- Banco de Dados (Ambiente DEV) ---
  travel_db_dev:
    image: postgres:15-alpine
    container_name: travel_manager_db_dev
    volumes:
      - /var/data/travel_db_data_dev:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: always
    networks:
      - chmviola

  # --- Aplicação Web (Ambiente DEV) ---
  travel_web_dev:
    build: ./app
    container_name: travel_manager_web_dev
    command: sh -c "python manage.py collectstatic --noinput && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      # - ./app:/usr/src/app  <-- Mantive comentado como no original
      - /var/data/travel_manager/readme.md:/usr/src/readme.md:ro
      - /var/data/media_data_dev:/usr/src/app/media
      - /var/data/migrations-dev:/usr/src/app/core/migrations
    environment:
      - DEBUG=1
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=${DB_NAME}
      - SQL_USER=${DB_USER}
      - SQL_PASSWORD=${DB_PASSWORD}
      - SQL_HOST=travel_db_dev
      - SQL_PORT=5432
      # Adicionando a chave do Google Maps aqui também para padronizar
      # Lembre-se que agora seu código busca no banco, mas é bom ter a var disponível se precisar reverter
      - GOOGLE_MAPS_API_KEY=${GOOGLE_MAPS_API_KEY} 
    depends_on:
      - travel_db_dev
    networks:
      - chmviola

networks:
  chmviola:
    external: true