{% extends 'base_public.html' %} {% block content %}
<div class="login-box">
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Esqueceu sua senha? Digite seu e-mail para recuperar.</p>
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="E-mail" required>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-envelope"></span></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Enviar Link</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}