{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel Manager | Sucesso</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-success">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>Travel</b>Manager</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg text-success">
          <i class="fas fa-check-circle fa-2x mb-3"></i><br>
          Sua senha foi alterada com sucesso!
      </p>
      <div class="row">
          <div class="col-12">
            <a href="{% url 'login' %}" class="btn btn-primary btn-block">Fazer Login</a>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>