{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel Manager | Nova Senha</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>Travel</b>Manager</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Você está a um passo de recuperar sua conta. Crie sua nova senha.</p>

      <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="input-group mb-3">
          <input type="{{ field.field.widget.input_type }}" 
                 name="{{ field.name }}" 
                 class="form-control" 
                 placeholder="{{ field.label }}"
                 required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        {% if field.errors %}
            <small class="text-danger">{{ field.errors.0 }}</small>
        {% endif %}
        {% endfor %}

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Alterar Senha</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>