{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel Manager | Nova Senha</title>

  <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo" style="display: flex; align-items: center; justify-content: center;">
      <a href="#" style="display: flex; align-items: center;">
          <img src="{% static 'img/logo.png' %}" alt="Logo" style="height: 60px; width: auto; margin-right: 15px;">
          <div><b>Travel</b>Manager</div>
      </a>
  </div>  
  <div class="text-center mt-2 text-muted">
      <small>Versão {{ app_version }}</small>
  </div>

  <div class="card mt-3">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Digite sua nova senha abaixo.</p>

      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-group mb-3">
          <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" placeholder="{{ field.label }}" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        {% if field.errors %}
            <small class="text-danger d-block mb-2">{{ field.errors.0 }}</small>
        {% endif %}
        {% endfor %}

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Confirmar Nova Senha</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>